/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Css */

body {
  background: rgb(230, 230, 230);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrap{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
}


 input{
   width: 300px;
   height: 35px;
   background:#ECF0F1 ;
    border:  #E6EBED;
    opacity: 0.7;
    font-size: 16px;
    text-align: center;
    outline: none;
 }
 ::-webkit-input-placeholder {
  text-align: center;
}
 li{
   display: flex;
   justify-content: space-between;
   padding-top: 10px;
   color: white;
   font-size: 18px;
   padding: 10px;
 }

 .image{
  width:6.25rem;
  height:6.25rem;
  border-radius:50%;
  margin-top: 15px;
 }

 .image1{
   display: flex;
   justify-content: center;
 }

 .box {
   display: block;
   justify-content: center;
   width: 300px;
   height: 200px;
   background: rgb(255, 255, 255);
 }

 .name {
   margin-top: 10px;
   font-size: 25px;
   color: rgb(43, 28, 241);
   display: flex;
   justify-content: center;
   font-weight: bold;
 }

 .loc {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #BDCBCE;
  font-weight: bold;
  font-size: 18px;

 }

 ul{
  display: block;
  justify-content: center;
  width: 300px;
  background: rgb(43, 28, 241);
}

